---
networks:
  gitea:
    external: false

services:
  gitlab:
    image: gitlab/gitlab-ce:nightly
    container_name: gitlab
    restart: always
    hostname: gitlab.local
    environment:
      GITLAB_ROOT_PASSWORD: UOISLabSuperPass!
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'https://gitlab.local'
        gitlab_rails['monitoring_whitelist'] = ['127.0.0.1', '::1', '172.16.0.0/12', '192.168.0.0/16', '10.0.0.0/8']  # includes docker internal networks
    ports:
      - 80:80
      - 443:443
      - 22:22
    volumes:
      - gitlab_config:/etc/gitlab
      - gitlab_logs:/var/log/gitlab
      - gitlab_data:/var/opt/gitlab
    shm_size: 256m

volumes:
  gitlab_config:
  gitlab_logs:
  gitlab_data:
